{% extends 'base.html.twig' %}

{% block title %}Nouvelle categorie{% endblock %}

{% block category %}active{% endblock %}

{% block body %}
<h1 class='mx-auto'>{{ block('title') }} <a href="{{ path('category_index') }}" class="h6">Retour à la liste des produits</a></h1>

    {{ include('back/category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">back to list</a>
{% endblock %}
