<form method="post" action="{{ path('order_delete', {'id': order.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    {# <button class="btn btn-danger">Delete</button> #}

    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-trash-alt"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item">Confirmer</button>
        <a class="dropdown-item" data-toggle="dropdown">Annuler</a>
    </div>
</form>

