<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnTheSpot - Confirmation email</title>

    <style>
        body {
            height: 100vh;
        }

        main {
            max-width: 576px;
            margin: auto;
            background-color: #f4f8fc;
            padding: 1rem;
            border-radius: 30px;
            transform: translateY(50%);
        }

        h1 {
            margin: 0 0 1rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <main>
        <h1>Votre adresse email a été confirmée!</h1>
        <p>Votre compte est maintenant actif, vous pouvez maintenant profiter de notre site et commander les produits de vos reves.</p>
        <p>Pour continuer, <a href="https://www.onthespot.link">cliquez ici</a></p>
    </main>

</body>

</html>